# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/OS-ImGui
/Debug
/OS-ImGui/Debug
/OS-ImGui/x64/Debug
/OS-ImGui/imgui.ini
/x64/Debug
/OS-ImGui/Release
/Release
/OS-ImGui/x64/Release
/x64/Release
